DEBUG=True
DJANGO_SECRET_KEY="4q5n7ej9@#i$h4+&dl@7ynx+5=np8kz1=nh(8l$6%3_+ewxs62"
DJANGO_ALLOWED_HOSTS=localhost,.dnslog.test
DATABASE_URL=mysql://root:root@localhost/dnslog
USE_DOCKER=false
DNS_DOMAIN=dnslog.test
ADMIN_DOMAIN=localhost
NS1_DOMAIN=ns1.dnslog.test
NS2_DOMAIN=ns2.dnslog.test
SERVER_IP=127.0.0.1
